<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FileSystemApiDemo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/bootstrap.css/css/bootstrap.css">
    <!-- endbuild -->
    <script src="bower_components/angular/angular.js"></script>

</head>
<body ng-app="filesystemDemoApp">
    <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


    <div class="container" ng-controller="MainCtrlr">
        <h1>{{title}}</h1>
        <div class="row">
            <input class="span4" type="text" ng-model="filename" placeholder="Filename..." />
            <input class="span4" type="text" ng-model="fileMimeType" placeholder="File mime type..." />
        </div>
        <div class="row">
            <textarea class="span12" rows="20" ng-model="fileContents" placeholder="File contents..."></textarea>
        </div>
        <div class="row">
            <button ng-click="saveFile()" class="btn btn-primary">SAVE</button>
        </div>
        <div class="row" ng-repeat="file in files">
            <div class="well span12">
                <a ng-href="{{file.URL}}">{{file.filePath}}</a>
            </div>
        </div>
    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js scripts/FileStorageService.js -->
    <script src="scripts/FileStorageService.js"></script>
    <!-- endbuild -->

    <script>
        var app = angular.module('filesystemDemoApp', []);

        app.config(['$compileProvider',
            function ($compileProvider) {
                $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|chrome-extension|filesystem):/);
            }
        ]);

        app.controller('MainCtrlr', ['$scope', function ($scope) {

            var internal = {};

            internal.testDirPath = '/demo/'
            internal.service = new FileStorageService();
            internal.setDefaults = function () {
                $scope.filename = '';
                $scope.fileContents = '';
                $scope.fileMimeType = 'text/html';
            };
            internal.setDefaults();

            $scope.title = 'File System API Demo App';
            $scope.files = [];
            //me.writeFile = function (fileName, data, mimeType)
            $scope.saveFile = function () {
                internal.service.writeFile(internal.testDirPath + $scope.filename, $scope.fileContents, $scope.fileMimeType)
                    .done(function (fileEntry) {

                        $scope.files.push({ filePath: fileEntry.fullPath, URL: fileEntry.toURL() });
                        internal.setDefaults();

                    });



            };
        }]);

    </script>

</body>
</html>
