<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>File System Api Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/bootstrap.css/css/bootstrap.css">
    <!-- endbuild -->
    <script src="bower_components/angular/angular.js"></script>

</head>
<body ng-app="filesystemDemoApp">
    <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


    <div class="container" ng-controller="MainCtrlr">
        <h1>{{title}}</h1>
        <div class="row">
            <input class="span4" type="text" ng-model="filename" placeholder="Filename..." />
            <input class="span4" type="text" ng-model="fileMimeType" placeholder="File mime type..." />
        </div>
        <div class="row">
            <textarea class="span12" rows="20" ng-model="fileContents" placeholder="File contents..."></textarea>
        </div>
        <div class="row">
            <div class="span2">
                <button ng-click="saveFile()" class="btn btn-primary">SAVE</button>
            </div>
        </div>
        <div ng-repeat="file in files">
            <div class="well row">
                <div class="span2">
                    <a ng-href="{{file.URL}}">{{file.filePath}}</a>
                </div>
                <div class="span1">
                    {{file.fileMimeType}}
                </div>
                <div class="span2">
                    <button class="btn" ng-click="loadDetails(file)">Load Details</button>
                </div>
                <div class="span1">
                    <button class="btn btn-danger" ng-click="deleteFile(file)">Delete</button>
                </div>
            </div>
        </div>
    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js scripts/FileStorageService.js -->
    <script src="scripts/FileStorageService.js"></script>
    <!-- endbuild -->

    <script>
        var app = angular.module('filesystemDemoApp', []);

        app.config(['$compileProvider',
            function ($compileProvider) {
                $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|chrome-extension|filesystem):/);
            }
        ]);

        app.controller('MainCtrlr', ['$scope', '$http', function ($scope, $http) {

            var internal = {};

            internal.testDirPath = '/demo/';
            internal.service = new FileStorageService();
            internal.setDefaults = function () {
                $scope.filename = '';
                $scope.fileContents = '';
                $scope.fileMimeType = 'text/html';
            };
            internal.readFiles = function () {
                internal.service.readDirectory(internal.testDirPath).done(function (fileEntry) {
                    $scope.$apply(function () {

                        fileEntry.forEach(function (entry) {
                            $http.get(entry.toURL()).success(function (data) {
                                $scope.files.push({
                                    filePath: entry.fullPath,
                                    fileContents: data,
                                    URL: entry.toURL()
                                });
                            });
                        });

                    });

                });
            };
            internal.setDefaults();
            internal.readFiles();


            $scope.title = 'File System API Demo App';
            $scope.files = [];
            //me.writeFile = function (fileName, data, mimeType)
            $scope.saveFile = function () {
                internal.service.writeFile(internal.testDirPath + $scope.filename, $scope.fileContents, $scope.fileMimeType)
                    .done(function (fileEntry) {

                        $scope.$apply(function () {
                            $scope.files.push({
                                filePath: fileEntry.fullPath,
                                fileContents: $scope.fileContents,
                                fileMimeType: $scope.fileMimeType,
                                URL: fileEntry.toURL()
                            });
                            internal.setDefaults();
                        });


                    });
            };

            $scope.deleteFile = function (file) {
                internal.service.deleteFile(file.filePath).done(
                    function () {
                        $scope.$apply(function () {
                            $scope.files = $scope.files.filter(function (item) {
                                return item.filePath !== file.filePath;
                            });
                        });
                    });
            };

            $scope.loadDetails = function (file) {
                $scope.filename = file.filePath.substring(file.filePath.lastIndexOf('/') + 1, file.filePath.length);
                $scope.fileContents = file.fileContents;
                $scope.fileMimeType = file.fileMimeType;
            };



        }]);

    </script>
</body>
</html>
